<p>
    <a href="{murl}"><b>{mshortName}</b></a>
</p>
<ul>
    <li>
        Buy Action
        <ul>
            <li>Recommendation: {buyActionRec}</li>
            <li>Profit: {buyActionProfit}</li>
        </ul>
    </li>
    <li>
        FiveThirtyEight Probabilities of Victory
        <ul>
            <li>D: {fteD}</li>
            <li>R: {fteR}</li>
        </ul>
    </li>
    <li>
        Buy Costs
        <ul>
            <li>BuyYesCostD: {BuyYesCostD}</li>
            <li>BuyNoCostD: {BuyNoCostD}</li>
            <li>BuyYesCostR: {BuyYesCostR}</li>
            <li>BuyNoCostR: {BuyNoCostR}</li>
        </ul>
    </li>
</ul>