<p>
    <a href="{murl}"><b>{mshortName}</b></a>
</p>
<ul>
    <li>
        Buy Action
        <ul>
            <li>Recommendation: {buyActionRec}</li>
            <li>Profit: {buyActionProfit}</li>
        </ul>
    </li>
    <li>
        FiveThirtyEight Probabilities of Victory
        <ul>
            <li>D: {fteD}</li>
            <li>R: {fteR}</li>
        </ul>
    </li>
    <li>
        Buy Costs
        <ul>
            <li>bestBuyYesCostD: {bestBuyYesCostD}</li>
            <li>bestBuyNoCostD: {bestBuyNoCostD}</li>
            <li>bestBuyYesCostR: {bestBuyYesCostR}</li>
            <li>bestBuyNoCostR: {bestBuyNoCostR}</li>
        </ul>
    </li>
</ul>