<div class="{side}div">
    <h1>{seat}</h1>
    <h2>Link: <a href="{murl}">{mshortName}</a></h2>
    <h3>Recommendation: {buyActionRec}<br>Profit: {buyActionProfit}</h3>
    <ul>
        <li>
            FiveThirtyEight Probabilities of Victory ({forecast_expression})
            <ul>
                <li>D: {fteD}</li>
                <li>R: {fteR}</li>
            </ul>
        </li>
        <li>
            PredictIt Buy Costs
            <ul>
                <li>bestBuyYesCostD: {bestBuyYesCostD}</li>
                <li>bestBuyNoCostD: {bestBuyNoCostD}</li>
                <li>bestBuyYesCostR: {bestBuyYesCostR}</li>
                <li>bestBuyNoCostR: {bestBuyNoCostR}</li>
            </ul>
        </li>
    </ul>
</div>