<div class="focalpoint">
    <h1>Note:</h1>
    <ul>
        <li>Forecast expression: {forecast_expression}</li>
        <li>Min. profit per share: {min_profit_per_share}</li>
        <li>Percentages may not add to 100 due to rounding</li>
        <li>For information purposes only; does not constitute financial advice</li>
        <li>This website is NOT associated with FiveThirtyEight or PredictIt</li>
        <li>Link to the <a href="https://github.com/dcadata/fivethirtyeight-vs-predictit"><u>GitHub repo for this
            project</u></a></li>
    </ul>
</div>