<html>
<head>
    <link href="templates/imported.css" rel="stylesheet" type="text/css">
    <link href="templates/style.css" rel="stylesheet" type="text/css">
    <title>FiveThirtyEight vs. PredictIt</title>
</head>
<body>
<div class="gridheader">
    <div class="innerdiv">
        <h1><a href="https://ankar.io/fivethirtyeight-vs-predictit">FiveThirtyEight vs. PredictIt</a></h1>
        <p><b>Uses FiveThirtyEight election forecasts to find profit opportunities on the prediction market
            PredictIt</b></p>
        <h3>Last updated {last_updated} UTC. Updated {update_interval}.</h3>
    </div>
</div>
<div class="griddefault">{data0}</div>
<div class="gridlinks">
    <div class="links">
        <h2><a href="https://projects.fivethirtyeight.com/2022-election-forecast/governor/">FiveThirtyEight's 2022
            governor forecast</a></h2>
    </div>
    <div class="links">
        <h2><a href="https://projects.fivethirtyeight.com/2022-election-forecast/senate/">FiveThirtyEight's 2022 senate
            forecast</a></h2>
    </div>
    <div class="links">
        <h2><a href="https://www.predictit.org/">PredictIt prediction market</a></h2>
    </div>
    <div class="links">
        <h2><a href="https://www.predictit.org/api/marketdata/all/">PredictIt API</a></h2>
    </div>
</div>
<div class="griddefault">{data1}</div>
<div class="gridheader">
    <div class="innerdiv">
        <h1>Summary</h1>
    </div>
</div>
<div class="gridfooter">
    {summary}
</div>
</body>
</html>