<html>
<head>
    <title>FiveThirtyEight vs. PredictIt</title>
</head>
<body>
<h1>FiveThirtyEight vs. PredictIt</h1>
<p>
    <b>Uses FiveThirtyEight election forecasts to find profit opportunities on the prediction market PredictIt</b>
</p>
<p>Percentages may not add to 100 due to rounding.</p>
<p>
    <a href="https://projects.fivethirtyeight.com/2022-election-forecast/">FiveThirtyEight 2022 forecasts</a>
    <br>
    <a href="https://www.predictit.org/">PredictIt</a>
</p>
<p>
    <a href="https://github.com/dcadata/fivethirtyeight-vs-predictit">GitHub</a>
</p>
<p>Last updated: {last_updated} UTC</p>
{data}
<p>For information purposes only; does not constitute financial advice.</p>
</body>
</html>